.cue {
  position: absolute;
  width: 100%;
  bottom: 48px;
  z-index: 0;
  text-align: center;
}

.overlay-cue {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: #ffffff; /* &H00FFFFFF: white */
  /* BorderStyle: 1 (outline), Outline: 2, Shadow: 1 */
  display: inline-block;
  /* Alignment: 2 (bottom center), MarginV: 24px (0018 in hex) */
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.overlay-cue:before {
  color: black;
  content: attr(data-text);
  filter: blur(0px);
  position: absolute;
  z-index: -1;
  transform: matrix(1, 0, 0, 1, 1, 1);
  -webkit-text-stroke: 4px black;
  top: 0;
  left: 0;
}

.overlay-cue:after {
  color: black;
  content: attr(data-text);
  filter: blur(0px);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px black;
  top: 0;
  left: 0;
}

#video {
  background: black;
}

.test-overlay {
  width: 640px;
  height: 360px;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
}
